// COLORS
$black-color: #000;
$white-color: #fff;
$orange-color: #FF4A32;
$orange-color-hover: #e8402a;
$line-color: #CFCFCF;
$price-color: #373737;
$old-price-color: #e8402a;
$sold-color: rgba(0,0,0,0.3);