// COLORS
$black-color: #000;
$white-color: #fff;
$orange-color: #ff4a32;
$orange-color-hover: #e8402a;
$line-color: #cfcfcf;
$price-color: #373737;
$old-price-color: #e8402a;
$sold-color: rgba(0, 0, 0, 0.3);
$footer-color: #f7f7f7;
